<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brand</key>
	<dict>
		<key>brandStyle1</key>
		<dict>
			<key>textColor</key>
			<string>#fabe00</string>
		</dict>
		<key>brandStyle2</key>
		<dict>
			<key>textColor</key>
			<string>#fef4d4</string>
		</dict>
		<key>brandStyle3</key>
		<dict>
			<key>textColor</key>
			<string>#fffbf1</string>
		</dict>
	</dict>
</dict>
</plist>
