<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultStrategy</key>
	<dict>
		<key>cacheKey</key>
		<array>
			<string>*</string>
		</array>
		<key>cacheSyncPeriod</key>
		<integer>30</integer>
		<key>cacheType</key>
		<string>normal</string>
		<key>loadType</key>
		<string>sync_cache</string>
	</dict>
	<key>pageCacheStrategies</key>
	<array>
		<dict>
			<key>pages</key>
			<array>
				<string>shop/activity</string>
			</array>
			<key>strategy</key>
			<dict>
				<key>loadType</key>
				<string>no_cache</string>
			</dict>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<string>shop/index</string>
			</array>
			<key>strategy</key>
			<dict>
				<key>cacheKey</key>
				<array>
					<string>page</string>
					<string>userId</string>
					<string>shop_id</string>
					<string>user_nick</string>
				</array>
				<key>cacheSyncPeriod</key>
				<integer>60</integer>
				<key>loadType</key>
				<string>sync_cache</string>
			</dict>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<string>a/b</string>
				<string>c/d</string>
				<string>e/f</string>
				<string>g/h</string>
			</array>
			<key>strategy</key>
			<dict>
				<key>cacheKey</key>
				<array>
					<string>page</string>
				</array>
				<key>cacheSyncPeriod</key>
				<integer>60</integer>
				<key>loadType</key>
				<string>sync_cache</string>
			</dict>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<string>a/ddd</string>
				<string>d/eee</string>
			</array>
			<key>strategy</key>
			<dict>
				<key>cacheKey</key>
				<array>
					<string>page</string>
				</array>
				<key>cacheSyncPeriod</key>
				<integer>60</integer>
				<key>loadType</key>
				<string>async_cache</string>
			</dict>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<string>system/home</string>
			</array>
			<key>strategy</key>
			<dict>
				<key>cacheKey</key>
				<array>
					<string>page</string>
				</array>
				<key>cacheSyncPeriod</key>
				<integer>10</integer>
				<key>cacheType</key>
				<string>persist</string>
				<key>loadType</key>
				<string>async_response_cache</string>
			</dict>
		</dict>
	</array>
	<key>version</key>
	<string>4</string>
</dict>
</plist>
