<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>juhuasuan_bundle</string>
	<key>scheme</key>
	<string>taobao</string>
	<key>object_list</key>
	<array>
		<dict>
			<key>name</key>
			<string>main_url_resolver</string>
			<key>class</key>
			<string>JUTabBarController</string>
			<key>is_singleton</key>
			<false/>
		</dict>
	</array>
	<key>service_list</key>
	<array/>
	<key>receive_message_list</key>
	<array>
		<dict>
			<key>message_code</key>
			<string>TB_NOTIFICATION_USER_LOGGED_IN</string>
			<key>object</key>
			<string>@JHSPlugin</string>
		</dict>
	</array>
	<key>post_message_list</key>
	<array/>
	<key>url_handler_list</key>
	<array>
		<dict>
			<key>exact_url</key>
			<string>go/ju/home</string>
			<key>object</key>
			<string>#JUTabBarController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/ju/tabbar</string>
			<key>object</key>
			<string>#JUTabBarController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/ju/today_home</string>
			<key>object</key>
			<string>#JHSHomeViewController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/ju/today_all</string>
			<key>object</key>
			<string>#JHSHomeViewController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/ju/today_raw_list</string>
			<key>object</key>
			<string>#JHSHomeViewController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/ju/life_home</string>
			<key>object</key>
			<string>#JHSLocalWebViewController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/ju/life_all</string>
			<key>object</key>
			<string>#JHSLocalListViewController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/local/filter_list</string>
			<key>object</key>
			<string>#JHSLocalListViewController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>tb.cn/x/ju</string>
			<key>object</key>
			<string>#JUTabBarController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/ju/jutou</string>
			<key>object</key>
			<string>#JUTouViewController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/jucategory</string>
			<key>object</key>
			<string>#JUTabBarController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/jhs/ju_incoming_groupon</string>
			<key>object</key>
			<string>#JUTouViewController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/ju/city_picker</string>
			<key>object</key>
			<string>#JUCityPickerViewController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/ju/search</string>
			<key>object</key>
			<string>#JUSearchDisplayController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/ju/webview</string>
			<key>object</key>
			<string>#JHSWebViewController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>www.taobao.com/market/ju/ppj.php</string>
			<key>object</key>
			<string>#JHSWebViewController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>ju.taobao.com/m/jusp/other/liangfan/mtp.htm</string>
			<key>object</key>
			<string>#JHSWebViewController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>ju.taobao.com/m/jusp/nv/haiwaiju/mtp.htm</string>
			<key>object</key>
			<string>#JHSWebViewController</string>
		</dict>
		<dict>
			<key>exact_url</key>
			<string>go/ju/luaview</string>
			<key>object</key>
			<string>#JHSLuaViewController</string>
		</dict>
        <dict>
            <key>exact_url</key>
            <string>go/luaview</string>
            <key>object</key>
            <string>#JHSLuaViewController</string>
        </dict>
	</array>
</dict>
</plist>
