<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<array>
		<string>微笑</string>
		<string>/:^_^</string>
	</array>
	<key>002</key>
	<array>
		<string>害羞</string>
		<string>/:^$^</string>
	</array>
	<key>003</key>
	<array>
		<string>吐舌头</string>
		<string>/:Q</string>
	</array>
	<key>004</key>
	<array>
		<string>偷笑</string>
		<string>/:815</string>
	</array>
	<key>005</key>
	<array>
		<string>爱慕</string>
		<string>/:809</string>
	</array>
	<key>006</key>
	<array>
		<string>大笑</string>
		<string>/:^O^</string>
	</array>
	<key>007</key>
	<array>
		<string>跳舞</string>
		<string>/:081</string>
	</array>
	<key>008</key>
	<array>
		<string>飞吻</string>
		<string>/:087</string>
	</array>
	<key>009</key>
	<array>
		<string>安慰</string>
		<string>/:086</string>
	</array>
	<key>010</key>
	<array>
		<string>抱抱</string>
		<string>/:H</string>
	</array>
	<key>011</key>
	<array>
		<string>加油</string>
		<string>/:012</string>
	</array>
	<key>012</key>
	<array>
		<string>胜利</string>
		<string>/:806</string>
	</array>
	<key>013</key>
	<array>
		<string>强</string>
		<string>/:b</string>
	</array>
	<key>014</key>
	<array>
		<string>亲亲</string>
		<string>/:^x^</string>
	</array>
	<key>015</key>
	<array>
		<string>花痴</string>
		<string>/:814</string>
	</array>
	<key>016</key>
	<array>
		<string>露齿笑</string>
		<string>/:^W^</string>
	</array>
	<key>017</key>
	<array>
		<string>查找</string>
		<string>/:080</string>
	</array>
	<key>018</key>
	<array>
		<string>呼叫</string>
		<string>/:066</string>
	</array>
	<key>019</key>
	<array>
		<string>算账</string>
		<string>/:807</string>
	</array>
	<key>020</key>
	<array>
		<string>财迷</string>
		<string>/:805</string>
	</array>
	<key>021</key>
	<array>
		<string>好主意</string>
		<string>/:071</string>
	</array>
	<key>022</key>
	<array>
		<string>鬼脸</string>
		<string>/:072</string>
	</array>
	<key>023</key>
	<array>
		<string>天使</string>
		<string>/:065</string>
	</array>
	<key>024</key>
	<array>
		<string>再见</string>
		<string>/:804</string>
	</array>
	<key>025</key>
	<array>
		<string>流口水</string>
		<string>/:813</string>
	</array>
	<key>026</key>
	<array>
		<string>享受</string>
		<string>/:818</string>
	</array>
	<key>027</key>
	<array>
		<string>色情狂</string>
		<string>/:015</string>
	</array>
	<key>028</key>
	<array>
		<string>呆若木鸡</string>
		<string>/:084</string>
	</array>
	<key>029</key>
	<array>
		<string>思考</string>
		<string>/:801</string>
	</array>
	<key>030</key>
	<array>
		<string>迷惑</string>
		<string>/:811</string>
	</array>
	<key>031</key>
	<array>
		<string>疑问</string>
		<string>/:?</string>
	</array>
	<key>032</key>
	<array>
		<string>没钱了</string>
		<string>/:077</string>
	</array>
	<key>033</key>
	<array>
		<string>无聊</string>
		<string>/:083</string>
	</array>
	<key>034</key>
	<array>
		<string>怀疑</string>
		<string>/:817</string>
	</array>
	<key>035</key>
	<array>
		<string>嘘</string>
		<string>/:!</string>
	</array>
	<key>036</key>
	<array>
		<string>小样</string>
		<string>/:068</string>
	</array>
	<key>037</key>
	<array>
		<string>摇头</string>
		<string>/:079</string>
	</array>
	<key>038</key>
	<array>
		<string>感冒</string>
		<string>/:028</string>
	</array>
	<key>039</key>
	<array>
		<string>尴尬</string>
		<string>/:026</string>
	</array>
	<key>040</key>
	<array>
		<string>傻笑</string>
		<string>/:007</string>
	</array>
	<key>041</key>
	<array>
		<string>不会吧</string>
		<string>/:816</string>
	</array>
	<key>042</key>
	<array>
		<string>无奈</string>
		<string>/:&apos;&quot;&quot;</string>
	</array>
	<key>043</key>
	<array>
		<string>流汗</string>
		<string>/:802</string>
	</array>
	<key>044</key>
	<array>
		<string>凄凉</string>
		<string>/:027</string>
	</array>
	<key>045</key>
	<array>
		<string>困了</string>
		<string>/:(Zz...)</string>
	</array>
	<key>046</key>
	<array>
		<string>晕</string>
		<string>/:*&amp;*</string>
	</array>
	<key>047</key>
	<array>
		<string>忧伤</string>
		<string>/:810</string>
	</array>
	<key>048</key>
	<array>
		<string>委屈</string>
		<string>/:&gt;_&lt;</string>
	</array>
	<key>049</key>
	<array>
		<string>悲泣</string>
		<string>/:018</string>
	</array>
	<key>050</key>
	<array>
		<string>大哭</string>
		<string>/:&gt;O&lt;</string>
	</array>
	<key>051</key>
	<array>
		<string>痛哭</string>
		<string>/:020</string>
	</array>
	<key>052</key>
	<array>
		<string>I服了U</string>
		<string>/:044</string>
	</array>
	<key>053</key>
	<array>
		<string>对不起</string>
		<string>/:819</string>
	</array>
	<key>054</key>
	<array>
		<string>再见</string>
		<string>/:085</string>
	</array>
	<key>055</key>
	<array>
		<string>皱眉</string>
		<string>/:812</string>
	</array>
	<key>056</key>
	<array>
		<string>好累</string>
		<string>/:&quot;</string>
	</array>
	<key>057</key>
	<array>
		<string>生病</string>
		<string>/:&gt;M&lt;</string>
	</array>
	<key>058</key>
	<array>
		<string>吐</string>
		<string>/:&gt;@&lt;</string>
	</array>
	<key>059</key>
	<array>
		<string>背</string>
		<string>/:076</string>
	</array>
	<key>060</key>
	<array>
		<string>惊讶</string>
		<string>/:069</string>
	</array>
	<key>061</key>
	<array>
		<string>惊愕</string>
		<string>/:O</string>
	</array>
	<key>062</key>
	<array>
		<string>闭嘴</string>
		<string>/:067</string>
	</array>
	<key>063</key>
	<array>
		<string>欠扁</string>
		<string>/:043</string>
	</array>
	<key>064</key>
	<array>
		<string>鄙视你</string>
		<string>/:P</string>
	</array>
	<key>065</key>
	<array>
		<string>大怒</string>
		<string>/:808</string>
	</array>
	<key>066</key>
	<array>
		<string>生气</string>
		<string>/:&gt;W&lt;</string>
	</array>
	<key>067</key>
	<array>
		<string>财神</string>
		<string>/:073</string>
	</array>
	<key>068</key>
	<array>
		<string>学习雷锋</string>
		<string>/:008</string>
	</array>
	<key>069</key>
	<array>
		<string>恭喜发财</string>
		<string>/:803</string>
	</array>
	<key>070</key>
	<array>
		<string>小二</string>
		<string>/:074</string>
	</array>
	<key>071</key>
	<array>
		<string>老大</string>
		<string>/:O=O</string>
	</array>
	<key>072</key>
	<array>
		<string>邪恶</string>
		<string>/:036</string>
	</array>
	<key>073</key>
	<array>
		<string>单挑</string>
		<string>/:039</string>
	</array>
	<key>074</key>
	<array>
		<string>CS</string>
		<string>/:045</string>
	</array>
	<key>075</key>
	<array>
		<string>隐形人</string>
		<string>/:046</string>
	</array>
	<key>076</key>
	<array>
		<string>炸弹</string>
		<string>/:048</string>
	</array>
	<key>077</key>
	<array>
		<string>惊声尖叫</string>
		<string>/:047</string>
	</array>
	<key>078</key>
	<array>
		<string>漂亮MM</string>
		<string>/:girl</string>
	</array>
	<key>079</key>
	<array>
		<string>帅哥</string>
		<string>/:man</string>
	</array>
	<key>080</key>
	<array>
		<string>招财猫</string>
		<string>/:052</string>
	</array>
	<key>081</key>
	<array>
		<string>成交</string>
		<string>/:(OK)</string>
	</array>
	<key>082</key>
	<array>
		<string>鼓掌</string>
		<string>/:8*8</string>
	</array>
	<key>083</key>
	<array>
		<string>握手</string>
		<string>/:)-(</string>
	</array>
	<key>084</key>
	<array>
		<string>红唇</string>
		<string>/:lip</string>
	</array>
	<key>085</key>
	<array>
		<string>玫瑰</string>
		<string>/:-F</string>
	</array>
	<key>086</key>
	<array>
		<string>残花</string>
		<string>/:-W</string>
	</array>
	<key>087</key>
	<array>
		<string>爱心</string>
		<string>/:Y</string>
	</array>
	<key>088</key>
	<array>
		<string>心碎</string>
		<string>/:qp</string>
	</array>
	<key>089</key>
	<array>
		<string>钱</string>
		<string>/:$</string>
	</array>
	<key>090</key>
	<array>
		<string>购物</string>
		<string>/:%</string>
	</array>
	<key>091</key>
	<array>
		<string>礼物</string>
		<string>/:(&amp;)</string>
	</array>
	<key>092</key>
	<array>
		<string>收邮件</string>
		<string>/:@</string>
	</array>
	<key>093</key>
	<array>
		<string>电话</string>
		<string>/:~B</string>
	</array>
	<key>094</key>
	<array>
		<string>举杯庆祝</string>
		<string>/:U*U</string>
	</array>
	<key>095</key>
	<array>
		<string>时钟</string>
		<string>/:clock</string>
	</array>
	<key>096</key>
	<array>
		<string>等待</string>
		<string>/:R</string>
	</array>
	<key>097</key>
	<array>
		<string>很晚了</string>
		<string>/:C</string>
	</array>
	<key>098</key>
	<array>
		<string>飞机</string>
		<string>/:plane</string>
	</array>
	<key>099</key>
	<array>
		<string>支付宝</string>
		<string>/:075</string>
	</array>
</dict>
</plist>
